# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews
#     </IfModule>

#     RewriteEngine On

#     # Redirect Trailing Slashes...
#     RewriteRule ^(.*)/$ /$1 [L,R=301]

#     # Handle Front Controller...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ public/index.php [L]
# </IfModule>

  
<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://landing.teeopedia.com//$1 [R,L]

RewriteCond %{REQUEST_URI} !^/public/ 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.*)$ /public/$1 
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L] 
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{SERVER_PORT} 80
    
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    # RewriteCond %{SERVER_PORT} 80
    # RewriteRule ^(.*)$ https://landing.teeopedia.com//$1 [R,L]

    # RewriteCond %{REQUEST_URI} !^/public/
    # RewriteRule ^(.*)$ /public/$1 [L,QSA]   
    
    # RewriteEngine On        
    # RewriteCond %{HTTPS} !=on    
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # RewriteRule ^(.*)$ public/ [L]
</IfModule>

# <IfModule mod_rewrite.c>
#     <IfModule mod_negotiation.c>
#         Options -MultiViews
#     </IfModule>

#     RewriteEngine On

#     # Redirect Trailing Slashes...
#     RewriteRule ^(.*)/$ /public/$1 [L,R=301]

#     # Handle Front Controller...
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteRule ^ public/index.php [L]
# </IfModule>